@media only screen and (max-width: 750px){
    #smaller-border{
      display: none;
    }
    .sidenav{
      height: 300px !important;
    }
  }
  @media only screen and (max-width: 500px){
    #applel{
      margin-bottom: 5px;
    }
  }
  html,body{
    overflow-x: hidden;
background-color: #F9F9F9;
  }
  .navbar {
      color: Black;
      font-size: large;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
    }
    .logo {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  
    .navbar ul li a {
      color: black !important;
      font-weight: bolder;
  }
  .navbar ul li a.active{
      color: #296178 !important;
  }
  #smaller-border {
      height:4px;
      width: 4vh;
      background-color:  #296178;
      border-radius: 5px;
    }
.sidenav{
    height: 100vh;
    width: 10vh;
}
 .navi td a{
     color: black !important ;
     font-size: x-large;
     font-weight: bolder;
 }
.navi td{
    height: 8vh;
}

.navi td a.active{
    color: #3F8FB0 !important;
}
.setcard{
    width: 50vh;
}
.con{
    height:20vh;
     width:20vh; 
     background-image: linear-gradient(#F5FAFB,0%,  #F5FAFB 77%,  #F5FAFB 77%,#DED4D4 77%, #DED4D4 100%);
     border-radius: 30%;
     border-style: solid;
     border-width: 1px;
     border-color: #828282;
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
   }
   .up{
       max-height: min-content;
       font-size: large;
       color: white;
       font-weight: bolder;
       background-color:#DED4D4;
       border: none;
       border-radius: 50%;
   }
     /* Save Button */
.btn-sleefax {
    height: 50px;
    width: 175px;
    padding: 5px 5px;
    color: white;
    font-weight: bolder;
    background-color:#3F8FB0;
    border-radius: 10px;
    border: none;
  }
  
  .btn-sleefax:hover,
  .btn-sleefax:focus {
    color: white;
    font-weight: bolder;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.164);
  }
  
   