/* Navbar Section */
.navbar {
  background-color: #296178;
  color: white;
  font-size: large;
}

/* Logo For Navbar */
.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/* Defaults */
body {
  background-image: linear-gradient(#4AABD2 65%, #295D73 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Login Form */
#loginForm {
  background-color: white;
  min-width: 270px;
  max-width: 400px;
  padding: 40px;
  margin: auto;
  border-radius: 5px;
}

/* Login Button */
.btn-sleefax {
  height: 40px;
  width: 150px;
  padding: 5px 5px;
  color: white;
  font-weight: bolder;
  background-image: linear-gradient(#1BC1D8 65%, #0C6973 100%);
  border-radius: 40px;
  border: none;
}

.btn-sleefax:hover,
.btn-sleefax:focus {
  color: white;
  font-weight: bolder;
  background-image: linear-gradient(#0C6973 65%, #1BC1D8 100%);
  border-radius: 40px;
  border: none;
}

/* Form Control Special For Border */
.form-control {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  outline: none;
  box-shadow: none !important;
}

/* Navbar Outline */
.navbar .navbar-toggler {
  outline: none;
}

/* Box Shadow */
.add-boxshadow {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
}