@media only screen and (max-width: 750px) {
  #hper{
    display: none;
  }
  #hper2{
    display: none;
  }
  #hper3{
    display: none;
  }
  .this_im{
    text-align: center;
  }
}

@media only screen and (max-width: 500px){
  #applel{
    margin-bottom: 5px;
  }
  #smaller-border{
    display: none;
  }
}

html,body{
  overflow-x: hidden;
  background-color: #F9F9F9;
}
.navbar {
  background-color: white;
    color: Black;
    font-size: large;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
    height:9vh;
  }
  /* Logo For Navbar */
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .navbar ul li a {
    color: black !important;
    font-weight: bolder;
}
.navbar ul li a.active{
    color: #296178 !important;
}
#smaller-border {
    height:5px;
    width: 9vh;
    background-color:  #296178;
    border-radius: 5px;
    z-index:1;
    position: relative;
    top: 2px;
    

  }  


/* Login Form */
#loginForm {
    background-color: white;
    min-width: 270px;
    max-width: 400px;
    padding: 20px;
  }
  
  /* Login Button */
  .btn-sleefax {
    height: 6vh;
    width: 60vh;
    padding: 5px 5px;
    padding-top: 2px;
    color: white;
    font-weight: bolder;
    background-color: #3F8FB0;
    border-radius: 20px;
    font-size: larger;
  }
  
  .btn-sleefax:hover,
  .btn-sleefax:focus {
    color: white;
    font-weight: bolder;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.164);
  }
  
  /* Form Control Special For Border */
  .form-control {
    border: none;
    width: 60vh;
    border-bottom: 1px solid #707070
  }
  .container1 {
    display: block;
    position: relative;
    padding-left: 29px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
  }
  
  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container1 input:checked ~ .checkmark {
    background-color: #3F8FB0;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
      #vl{
        height: 32vh;
        width:1px;
        background-color: #AEAEAE;
      }
      #rl{
        height: 1px;
        width:47vh;
        background-color: #AEAEAE;
      }
      .iam{
        border-radius: 6px;
      }
      #iam1:hover{
        -webkit-box-shadow: 0 0 5px 2px #4285F4;
        -moz-box-shadow: 0 0 5px 2px #4285F4;
        box-shadow: 0 0 5px 2px #4285F4;
      
      }
      #iam2:hover{
        -webkit-box-shadow: 0 0 5px 2px #4267B2;
        -moz-box-shadow: 0 0 5px 2px #4267B2;
        box-shadow: 0 0 5px 2px #4267B2;
      
      }
