@media only screen and (max-width: 600px){
  #smaller-border{
    display: none;
  }
}

@media only screen and (max-width: 500px){
  #applel{
    margin-bottom: 5px;
  }
}
html,body{
  overflow-x: hidden;
}
.navbar {
    color: Black;
    font-size: large;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
  }

  body{
    overflow-x: hidden;
    background-color: #F9F9F9;
  }
  /* Logo For Navbar */
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .navbar ul li a {
    color: black !important;
    font-weight: bolder;
}
.navbar ul li a.active{
    color: #296178 !important;
}
#smaller-border {
    height:5px;
    width: 4vh;
    background-color:  #296178;
    border-radius: 5px;
  }
  input[type=text] {
    text-align: center;
    height: 5vh;
    padding: 6px;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    border-color: #0D506E; 
    border-right: none;
    color: #948585;
    background-color: white;
    border-bottom-left-radius:40px;
      -moz-border-bottom-left-radius:40px;
      -webkit-border-bottom-left-radius:40px;
      border-top-left-radius:40px;
      -moz-top-bottom-left-radius:40px;
      -webkit-top-bottom-left-radius:40px;
    float: left;
    width: 80%;
  }
  
#butn {
  color:#3687e5 ;
   border-bottom-right-radius:40px;
      -moz-border-bottom-right-radius:40px;
      -webkit-border-bottom-right-radius:40px;
      border-top-right-radius:40px;
      -moz-top-right-radius:40px;
      -webkit-top-right-radius:40px;
    text-align: center;
    padding: 4px 12px;
    height: 5vh;
    background: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #0D506E; 
    border-left: none;
    float: left;
    width: 20%;
    cursor: pointer;
  }
  
#butn:hover {
    background: #ccc;
  }


td:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px ;
}
td:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
table{ 
    border-collapse:separate; 
    border-spacing: 0 15px; 
    } 

td{ 
    text-align: center  ; 
} 
tr{
    background-color: white;
    height: 8vh;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.164);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;  
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}
.car{
    background-color:white; 
    height: 65vh; 
    width:35vh;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #0D506E;
}
.od{
    border-style:solid; 
    border-width:1px; 
    border-color:#0D506E; 
    height: 8vh; 
    font-size: larger;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);   
}

tr:hover td{
    border-style:solid; 
    border-width:3px; 
    border-color:#0D506E; 
    border-left: none;
    border-right: none;
}
tr:hover td:first-child{
    border-style:solid; 
    border-width:3px; 
    border-color:#0D506E; 
    border-right: none;
}
tr:hover td:last-child{
    border-style:solid; 
    border-width:3px; 
    border-color:#0D506E; 
    border-left: none;
}
.btn-sleefax {
    height: fit-content;
    width: 16vh;
    color: white;
    background-color: #4ACF69;
    border-radius: 40px;
  }
  
td:last-child:hover .btn-sleefax{
    border: 2px solid darkgreen;
    color: white;
    font-weight: bolder;
  }
  td:last-child:focus .btn-sleefax{
    border: 2px solid darkgreen;
    color: white;
    font-weight: bolder;
  }

  