@media only screen and (max-width: 600px) {
  #smaller-border{
    display: none;
  }
}
  @media only screen and (max-width: 500px){
  #applel{
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 310px) {
  #smaller-border{
    display: none;
  }
  .ab{
    margin-left: 40px;
  }

}
html,body{
  overflow-x: hidden;
}
.navbar {
    color: Black;
    font-size: large;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
  }
  /* Logo For Navbar */
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .navbar ul li a {
    color: black !important;
    font-weight: bolder;
}
.navbar ul li a.active{
    color: #296178 !important;
}
#smaller-border {
    height:4px;
    width: 4vh;
    background-color:  #296178;
    border-radius: 5px;
  }  
.ab{
  color: #3F8FB0;
  font-size: xxx-large;
  font-weight: bolder;
}
.contain{
  text-align: center;
  max-width: 90vh;
  max-height: 75vh;
  background-color: #F5F5F5;
  padding: 30px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
  border-radius: 5px;
  border: 1px solid #707070;
}
.contain2{
  max-width: 90vh;
  height: min-content;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
  border-radius: 2px;
  border: 1px solid #296178;
}

.fo{
  max-width: 65vh;
}
     /* Save Button */
     .btn-sleefax {
      height: 38px;
      width: 175px;
      padding: 5px 5px;
      color: white;
      font-weight: bolder;
      background-color:#3F8FB0;
      border-radius: 10px;
      border: none;
    }
    
    .btn-sleefax:hover,
    .btn-sleefax:focus {
      color: white;
      font-weight: bolder;
      background-image: linear-gradient(#0C6973 65%, #1BC1D8 100%);
      border-radius: 10px;
      border: none;
    }