
@media only screen and (max-width: 600px){
  #smaller-border{
    display: none !important;
  }
    .random_im{
      text-align: center;
    }
  }
 
@media only screen and (max-width: 500px){
  #applel{
    margin-bottom: 5px;
  }
  
}

html,body{
  overflow-x: hidden;
background-color: #F9F9F9;
}

.navbar {
    color: Black;
    font-size: large;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
  }
  /* Logo For Navbar */
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  body{
    overflow-x: hidden;
  }

  .navbar ul li a {
    color: black !important;
    font-weight: bolder;
}
.navbar ul li a.active{
    color: #296178 !important;
}
#smaller-border {
    height:5px;
    width: 4vh;
    background-color:  #296178;
    border-radius: 5px;
  }
  
  #pho{
      max-width: 275px;
  }
  .fo{
      box-shadow:0 0 2px rgba(0, 0, 0, 0.514); 
  }
  /* Next Button */
.btn-sleefax {
    height: 40px;
    width: 150px;
    padding: 5px 5px;
    color: white;
    font-weight: bolder;
    background-color:#3F8FB0;
    border-radius: 10px;
    border: none;
  }
  
  .btn-sleefax:hover,
  .btn-sleefax:focus {
    color: white;
    font-weight: bolder;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.164);
  }
  

