.navbar {
    color: Black;
    font-size: large;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
  }
  /* Logo For Navbar */
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .navbar ul li a {
    color: black !important;
    font-weight: bolder;
}
.navbar ul li a.active{
    color: #296178 !important;
}
#smaller-border {
    height:2px;
    width: 4vh;
    background-color:  #296178;
    border-radius: 5px;
  }
  
  #pho{
      max-width: 275px;
  }
  .fo{
      box-shadow:0 0 2px rgba(0, 0, 0, 0.514); 
  }
  /* Next Button */
.btn-sleefax {
    height: 40px;
    width: 150px;
    padding: 5px 5px;
    color: white;
    font-weight: bolder;
    background-color:#3F8FB0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
  }
  
  .btn-sleefax:hover,
  .btn-sleefax:focus {
    color: white;
    font-weight: bolder;
    background-image: linear-gradient(#0C6973 65%, #1BC1D8 100%);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
  }
  

.con{
 max-height:48vh;
  max-width:40vh; 
  background-image: linear-gradient(#F5FAFB,0%,  #F5FAFB 77%,  #F5FAFB 77%,#DED4D4 77%, #DED4D4 100%);
  border-radius: 30%;
  border-style: solid;
  border-width: 1px;
  border-color: #828282;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
}
.up{
    max-height: min-content;
    font-size: x-large;
    color: white;
    font-weight: bolder;
    background-color:#DED4D4;
    border: none;
    border-radius: 50%;
}
