@media only screen and (max-width: 600px) {
  #smaller-border{
    display: none !important;
  }
    
  }

@media only screen and (max-width: 500px){
  #applel{
    margin-bottom: 5px;
  }
  .hi{
    display: none;
  }
  #b1{
    margin-right: 30px;
  }
  #b2{
    margin-right: 30px;
  }
  .new_s{
    margin-top: 20px;
  }

}
.random_im{
  text-align: center;
}

html,body{
  overflow-x: hidden;
}
.navbar {
    color: Black;
    font-size: large;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
  }
  /* Logo For Navbar */
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .navbar ul li a {
    color: black !important;
    font-weight: bolder;
}
.navbar ul li a.active{
    color: #296178 !important;
}
#smaller-border {
    height:5px;
    width: 4vh;
    background-color:  #296178;
    border-radius: 5px;
  }
  body{
    overflow-x: hidden;
background-color: #F9F9F9;
  }
  
  #pho{
      max-width: 275px;
  }
  .fo{
      box-shadow:0 0 2px rgba(0, 0, 0, 0.514); 
  }
  /* Next Button */
.btn-sleefax {
    height: 40px;
    width: 120px;
    padding: 5px 5px;
    color: white;
    font-weight: bolder;
    background-color:#3F8FB0;
    border-radius: 10px;
    border: none;
  }
  
  .btn-sleefax:hover,
  .btn-sleefax:focus {
    color: white;
    font-weight: bolder;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.164);
  }
  

.con{
 max-height:48vh;
  max-width:40vh; 
  background-image: linear-gradient(#F5FAFB,0%,  #F5FAFB 77%,  #F5FAFB 77%,#DED4D4 77%, #DED4D4 100%);
  border-radius: 30%;
  border-style: solid;
  border-width: 1px;
  border-color: #828282;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
}
.up{
    max-height: min-content;
    font-size: x-large;
    color: white;
    font-weight: bolder;
    background-color:#DED4D4;
    border: none;
    border-radius: 50%;
}
