.navbar {
    color: Black;
    font-size: large;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
  }
  /* Logo For Navbar */
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .navbar ul li a {
    color: black !important;
    font-weight: bolder;
}
.navbar ul li a.active{
    color: #296178 !important;
}
#smaller-border {
    height:2px;
    width: 4vh;
    background-color:  #296178;
    border-radius: 5px;
  }
  
  #pho{
      max-width: 275px;
  }
  .fo{
      box-shadow:0 0 2px rgba(0, 0, 0, 0.514); 
  }
 