/* Navbar Section */
.navbar {
  background-color:#286178;
  color: white;
  font-size: large;
}
/* Logo For Navbar */
.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#box1,
#box2{
    display: inline-block;
}
.im{
    max-width: 200px;
    max-height: 175px;
}
body{
    /* The image used */
    background-image: url("blue crowd.png");
    background-attachment: fixed;
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
  @media screen and (max-width: 424px) {
    #txt{
      font-size: smaller;
    }
    .im {
      width:550 px;
      height:150px;
    }
  }
  @media screen and (max-width: 375px) {
    #txt{
      font-size: smaller;
    }
    .im {
      width:550 px;
      height:120px;
    }
  }


/* Navbar Outline */
.navbar .navbar-toggler {
  outline: none;
}

